<% include header.ejs %>
  <div class="about">
  <center><h1>Niyanta:  <%= title %></h1></center>
  <img src="images/niyanta.jpg" style="width:350px" align="right">
  <br><br>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-8">
        <h3>HI EVERYONE!!!</h3>
        <p>My name is Niyanta.As far as my place is concerned I belong to INDIA.
           I am Computer Science graduate from kurukshetra University , India.
           Currently, I am pursuring Software Engineering Technology Artifical 
           Intelligence.I choose this program because AI is amazingly interesting
           study area.It's mixture of computer science, maths, logical thinking 
           and chaos theory or fuzzy logic together. My goal is to learn how to 
           solve problems and implement in real life.</p><br><br>
          <center><p><a href="images/resume.pdf"><h4>Here is my Resume</h4></a></p></center>
      </div>
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-signal logo"></span>
      </div>
    </div>
  </div>
  
  <% include footer.ejs %>
