<% include partials/header.ejs %>

  <center><h1>Welcome To My <%= title %> Page</h1><br>
  <img src="images/niyanta.jpg" style="width:260px"><br><br>
  <p>HI EVERYONE!!!!<br> MY NAME IS NIYANTA<br>
   <b>Mission Statement </b> : "To serve as a leader, live a balanced life, <br>
      apply ethical principles to make a significant difference and to <br>
      create the best version of tomorrow".
  </p>  
  <p>To know more about me. Visit my <a href="/about" >About</a> Page.</p>
  </center>
  <% include partials/footer.ejs %>