<% include partials/header.ejs %>

  <center><h1> MY <%= title %></h1></center>
  <br><br>

  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
          <img src="images/voting.jpg" alt="Lights" style="width:100%">
          <div class="caption">
            <p><h4>VOTING SYSTEM</h4>
               A web application for Voting System. 
               My role in the project was to write the 
               complete java front-end.
            </p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
          <img src="/images/jarvis.jpg" alt="Nature" style="width:100%">
          <div class="caption">
            <p><h4>JARVIS: Software robot Assistant For Corporation (HACKATHON 2020 INDIA)</h3>
               Created an AI based assistant to help developers with their
               day to day tasks like managing tools & understanding previously
               written code.</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
          <img src="images/document.jpg" alt="Fjords" style="width:100%">
          <div class="caption">
            <p><h4>DOCUMENT VERSION MANAGEMENT SYSTEM</h3>
              A complete managemnet web application for the documnets. 
               It is  djnago based application
            </p>
          </div>
        </a>
      </div>
    </div>
  </div>

  <% include partials/footer.ejs %>
