<% include partials/header.ejs %>

  <center><h1>My <%= title %></h1><br><br>
    <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
            <img src="/images/service3.jpg" alt="Lights" style="width: 80%">
            <div class="caption">
              <p><h4>Service Offered</h4></p>
              <p>
                I can build website for you.<br>
                I can work on Django framework<br>
                I can create mobile appications for you.
              </p>
            </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
            <img src="/images/skills.jpg" alt="Nature" style="width:90%">
            <div class="caption">
              <p><h4>Techinal Skills</h4></p>
              <p>
                 HTML, CSS, Javascript<br>
                 NodeJS, Java, Python<br>
                 MySQL
              </p>
            </div>
        </div>
      </div>
    </div>
  
  </center>
  <% include partials/footer.ejs %>
